@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

.container-wrapper {

}
.container-wrapper--red {
    background-color: #cd5656;
    color: #fff;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #ffb630;
    border-color: #ffb630;
}

.callout-container {
    height: 100vh;
    background: url("../images/whiskey-background.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Quotes section */
.quotes-container {
    
}

/* Features section */

.features-container {
    
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}
.feature p {
    text-align: left;
}
.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}
.feature .btn {
    background-color: #fff;
    border-color: #fff;
    border-radius: 15px;
    min-width: 100px;
    margin-top: 10px;
    font-weight: bold;
    color: #cd5656;
}
/* Page headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}
.page-header h2 {
    margin-top: 0;
}

.quotes .page-header {
    margin-bottom: 25px;
}

/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}
.block-divider--orange {
    background-color: #ffb630;
}
.block-divider--white {
    background-color: #fff;
}
.block-divider--short {
    width: 35px;
}

/* Content containers */

.content-container {
    padding: 75px 0;
}

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0,25);
}
.navbar .navbar-toggler {
    border: 0;
}
.navbar .navbar-nav a {
    font-weight: bold;
}

.navbar-brand {
    font-weight: bold;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}
.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}
.jumbotron .lead {
    margin: 25px 0;
    color: #cdcdcd;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}
.btn--red {
    color: white;
    background-color: #cd5656;
}
.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #7f3232;
    border-color: #7f3232;
}
